<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>알림 목록</title>
    <link rel="stylesheet" href="alarmlist.css">
    <link rel="stylesheet" href="../navbar/navbar.css">
</head>
<body>
    <script type="text/javascript" src="../navbar/navbar.js"></script>
    <!-- <div class="title">
        <p>알림 목록</p>
    </div> -->
    <!-- <div class="alarm">
        <div class="type">
            인수 인계
        </div>
        <div class="info">
            라인1 장비 2
        </div>
        <div class="description">
            장비 2 온도 매 정각에 확인 후 보고 - 이전 근무자 누구
        </div>
        
    </div>
    <div class="alarm">
        <div class="type">
            출석 확인
        </div>
        <div class="description">
            오프라인 교육 출석 확인
        </div>
    </div>
    <div class="alarm">
        <div class="type">
            체크시트 제출 확인
        </div>
        <div class="description">
            D2 위치의 D1 설비 체크시트 제출 확인
        </div>

    </div>
    <div class="alarm wrong">
        <div class="type yellow">
            잘못된 위치에서 체크시트 제출
        </div>
        <div class="description">
            D7 위치에서 D2 위치의 D1 설비 체크시트 제출 확인
        </div>
    </div>
    <div class="alarm wrong">
        <div class="type yellow">
            경고
        </div>
        <div class="description">
            D1 위치의 D2 설비 온도가 적정 범위를 벗어났습니다.
            점검해주세요.
        </div>
    </div> -->
    <!-- <script type="text/javascript" src="../../cordova.js"></script>
    <script type="text/javascript" src="../../dist/js/BeaconScan_bundle.js"></script> -->
    <script type="text/javascript" src="alarmlist.js"></script>
    <script type="text/javascript" src="../../js/background.js"></script>
  </body>
</html>
