* {
    box-sizing:border-box;
}

body {
    width: 100%;
    min-height:100%;
    padding-bottom:10%;
    margin:0;
    background-color:  #F3F6FA;
}
.title {
    /* margin-top: 5%; */
    display:flex;
    align-items: center;
    justify-content: center;
    position:static;
    left:0;
    top:0;
    height:15vw;
    text-align:center;
    width: 100%;
    font-size:5vw;
    font-weight: bold;
    color: #3F72BE;
    background-color: white;
}

.alarm {
    border-radius:5px;
    width: 90%;
    margin:auto;
    margin-top:3%;
    /* border: 1px solid #3F72BE; */
    padding:2%;
    background-color:white;
    box-shadow: 3px 4px #E2E2E2;
    display:flex;
    align-items: center;
}

.left {
    display:flex;
    align-items: center;
    justify-content: start;
    flex-basis: 15%;
}

.right {
    flex-basis:85%;
}

.icon {
    width:10vw;
    height:10vw;
}

.type {
    text-align: left;
    /* color:#3F72BE; */
    font-weight: bold;
    font-size:3vw;
}

.description {
    margin-top:1%;
    font-size:2vw;
    color:grey;
}

.time {
    margin-top:1%;
    text-align: left;
    font-size:2vw;
    color: grey;
}

