<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>알림 내용</title>
    <link rel="stylesheet" href="alarmdetail.css">
    <link rel="stylesheet" href="../navbar/navbar.css">
</head>
<body>
    <script type="text/javascript" src="../navbar/navbar.js"></script>
    <!-- <div class="title">
        <p>알림 확인</p>
    </div> -->
    <div class="content">
      <!-- <div class="type">
            인수 인계
        </div>
        <div class="equipment">
            <b>설비명</b> 장비 2
        </div>
        <div class="description">
            장비 2 온도 매 정각에 확인 후 보고
        </div> -->
    </div>
    <button class="check">확인</button>


    <!-- <script type="text/javascript" src="../../cordova.js"></script> -->
    <script type="text/javascript" src="alarmdetail.js"></script>
    <!-- <script type="text/javascript" src="../../js/background.js"></script> -->
</body>
</html>
