.subm-n {
  font-weight: bold;
}

.subm-highlight {
  color: #3F72BE;
}

.subm-container {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  font-size: 2vw;
}

.subm-container ul {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #ccc;
  list-style-type: none;
  display: flex;
  align-items: center;
}

.subm-container li {
  display: inline-block;
  padding: 10px 0;
}

.subm-header {
  font-weight: bold;
  background-color: #3F72BE10;
  color: #3F72BE;
  border-top: 2px solid #3F72BE;
  border-bottom: 2px solid #3F72BE;
}

.subm-header ul {
  border-bottom: 0;
}

.subm-mach {
  width: 30%;
}

.subm-name {
  width: 60%;
}

.subm-task {
  width: 10%;
  font-size: 1.5vw;
}