.navbar {
  position: absolute;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: #034ea2;
  height: 7vh;
  z-index: 800;
}

.blank {
  width: 100%;
  height: 7vh;
  background: transparent;
  z-index: -1;
}

.icon {
  width: 5vh;
  height: 5vh;
}

.navbar__backButton {
  border: none;
  outline: none;
  background-color: transparent;
  color: #034ea2;
  /* font-size: 5vw; */
  /* height: 10vw; */
  /* line-height: 5vw; */
}

.navbar__title {
  color: #034ea2;
  font-size: 3vh;
  height: 7vh;
  line-height: 7vh;
}

.navbar__menuButton {
  border: none;
  outline: none;
  background-color: transparent;
  color: #034ea2;
  /* font-size: 5vw; */
  /* height: 10vw; */
  /* line-height: 5vw; */
}

.sidemenu {
  width: 60vw;
  max-width: 250px;
  position: fixed;
  top: 0;
  left: -60vw;
  z-index: 1000;
  height: 100vh;
  background: #3f72be;
  transition: all 0.6s;
}

.line {
  width: 90%;
  margin: auto;
  /* margin-bottom: 5vh; */
  height: 2px;
  background-color: white;
  opacity: 0.3;
}

.sidemenu__footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-bottom: 3vh;
}

.navbar__profile {
  width: 100%;
  height: 20vh;
  /* background-image: url(file:///android_asset/www/template/navbar/icons/profile.png); */
  display: flex;
  /* flex-direction: column; */
  /* justify-content: center; */
  align-items: center;
}

.navbar__profile__left {
  flex-basis: 45%;
  display: flex;
  justify-content: center;
}

.navbar__profile__right {
  flex-basis: 55%;
}

.navbar__profile__img {
  width: 7vh;
  height: 7vh;
  border-radius: 50%;
  border: 3px solid white;
}

.navbar__profile__name {
  font-size: 20px;
  /* margin-top:3vh; */
  /* margin-left: 5vw; */
  text-align: left;
  color: white;
}

.navbar__profile__description {
  font-size: 14px;
  text-align: left;
  color: white;
  opacity: 0.5;
}

.navbar__menu {
  color: white;
  margin-left: 10%;
  margin-top: 3vh;
  font-size: 20px;
  opacity: 0.7;
  display: flex;
  align-items: center;
}

.navbar__menu__icon {
  width: 25px;
  height: 25px;
}

.navbar__menu__title {
  justify-content: space-between;
  margin-left: 10px;
}

.moveleft {
  transform: translateX(-60vw);
}

.moveright {
  transform: translateX(60vw);
}

.hide {
  visibility: hidden;
}

.black__bg {
  background-color: black;
  opacity: 0.8;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
}

/* .sidemenu__close {
    position:fixed;
    width: 10vw;
    height:10vw;
    top:2vw;
    right:-40vw;
    text-align: center;
    font-size: 32px;
} */
