@media screen and (min-width: 850px) {
  .c-table ul {
    width: 640px;
  }
  .c-table {
    width: 640px;
  }
}

@media screen and (max-width: 850px) {
  .c-table ul {
    width: 100%;
  }
  .c-table {
    width: 90%;
  }
}

header {
  position: fixed;
  display: flex;
  width: 100%;
  height: 8vh;
  left: 0;
  top: 0;
  background-color: #fff;
  box-shadow: 0 2px 2px #ddd;
  font-weight: bold;
  color: #034ea2;
  justify-content: space-between;
  align-items: center;
  line-height: 8vh;
  padding-left: 16dp;
  padding-right: 16dp;
}

.pageName {
  font-size: 5vw;
  margin: 0;
}

.check-container {
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 9vh;
}

.c-table {
  border-top: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
  margin: 20px auto;
  text-align: left;
}

.c-table ul {
  margin: 0;
  padding: 0;
  display: table;
  table-layout: fixed;
}

.c-table li {
  list-style-type: none;
  border-bottom: 1px solid #ccc;
  display: table-cell;
  padding: 10px 0;
  font-size: 2vw;
  padding-left: 5px;
  padding-right: 5px;
}

.c-btn {
  all: inherit;
  background-color: #3f72be;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  width: 150px;
  height: 32px;
  margin: 15px auto;
  text-align: center;
  padding-top: 0;
}

.c-head {
  font-weight: bold;
}

.modal__background {
  position: absolute;
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  top:0;
  left:0;
  width: 100vw;
  height: 100vh;
  opacity: 0.7;
  z-index: 1000;
}

.modal {
  position:absolute;
  display: flex;
  top: 20vh;
  left:25vw;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50vw;
  height: 30vh;
  background-color:white;
  border-radius: 15px;
  color: black;
  font-size:32px;
  z-index: 1200;
  text-align: center;
}

.modal__yes {
  background:#3f72be;
  border-radius: 15px;
  color: white;
  width: 30%;
  margin-top: 5%;
  height: 20%;
  font-size: 24px;
  display: flex;
  justify-content:center;
  align-items: center;
}