<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="adminlist.css" />
    <title>목록</title>
    <link rel="stylesheet" href="../navbar/navbar.css">
  </head>
  <body>
    <script type="text/javascript" src="../navbar/navbar.js"></script>
    <!-- <header class="header"><div id="header">관리자 목록</div></header> -->
    <div class="center">
      <main>
        <div class="card" id="CheckSheet">
          <img class="img" src="../../assets/pics/check.png" alt="" />
          <View class="view">
            <text class="text">체크시트</text>
            <smalltext>체크리스트를 작성하세요.</smalltext>
          </View>
        </div>
        <div class="card" id="CheckSheetList">
          <img class="img" src="../../assets/pics/list.png" alt="" />
          <View class="view">
            <text class="text">체크시트 현황</text>
            <smalltext>체크리스트를 관리하세요.</smalltext>
          </View>
        </div>
        <div class="card" id="BeaconMornitor">
          <img class="img" src="../../assets/pics/monitor.png" alt="" />
          <View class="view">
            <text class="text">비콘 모니터링</text>
            <smalltext>비콘을 한 눈에 관리하세요.</smalltext>
          </View>
        </div>
        <div class="card" id="WorkerAlarm">
          <img class="img" src="../../assets/pics/alarm.png" alt="" />
          <View class="view">
            <text class="text">알람 목록</text>
            <smalltext>알람을 확인하세요.</smalltext>
          </View>
        </div>
        <div class="card" id="BeaconManagement">
          <img class="img" src="../../assets/pics/beacon.png" alt="" />
          <View class="view">
            <text class="text">비콘 관리</text>
            <smalltext>비콘을 추가/제거 하세요.</smalltext>
          </View>
        </div>
      </main>
    </div>

    <script type="text/javascript" src="../../cordova.js"></script>
    <script type="text/javascript" src="../../js/adminAlarm.js"></script>
    <script type="text/javascript" src="adminlist.js"></script>
  </body>
</html>
